@import "base.css";

/* New User Page Styles */

/* Login Container */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

/* Card Layout */
.card {
  width: 600px;
  max-width: 90%;
}

/* Form Spacing */
.form-group {
  margin-bottom: 1.5rem;
}

input, select {
  max-width: 525px;
}

/* First Name and Last Name Side by Side */
.form-group:nth-child(1),
.form-group:nth-child(2) {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
  vertical-align: top;
}

.form-group:nth-child(2) {
  margin-right: 0;
}

.btn {
  width: 100%;
  margin-top: 1rem;
  background: #f97316;
  font-weight: bold;
  color: #fff;
}